<h1>Department Data</h1>

<p>This component demonstrates fetching Department data from the server.</p>
<p *ngIf="!depList"><em>Loading...</em></p>
<p>
	<a [routerLink]="['/register-department']">Create New</a>
</p>
<table class='table' *ngIf="depList">
	<thead>
		<tr>
			<th>Department Name</th>
		<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let depart of depList">
			<td>{{ depart.name }}</td>
			<td>
				<a [routerLink]="['/department/edit/', depart.id]">Edit</a> |
				<a [routerLink]="" (click)="delete(depart.id)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>