<h1>Employee Data</h1>
<p>This component demonstrates fetching Employee data from the server.</p>
<p *ngIf="!empList"><em>Loading...</em></p>
<p>
	<a [routerLink]="['/register-employee']">Create New</a>
</p>
<table class='table' *ngIf="empList">
	<thead>
		<tr>
			<th>Employee Id</th>
			<th>Employee Name</th>
			<th>Department</th>
			<th>JoiningDate</th>
			<th>Address</th>
			<th>Email</th>
			<th>Contact</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let emp of empList">
			<td>{{ emp.employee_Id }}</td>
			<td>{{ emp.employee_Name }}</td>
			<td>{{ emp.department_Id }}</td>
			<td>{{ emp.joiningDate }}</td>
			<td>{{ emp.address }}</td>
			<td>{{ emp.email }}</td>
			<td>{{ emp.mobileNo }}</td>
			<td>
				<a [routerLink]="['/employee/edit/', emp.employee_Id]">Edit</a> |
				<a [routerLink]="" (click)="delete(emp.employee_Id)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>